<div class="navbar navbar-fixed-bottom">
  <footer class="container-fluid">
    <p class="text-center">中国科学院大学版权所有 © 2017
      <a href="http://webscan.360.cn/index/checkwebsite/url/wqscourseselect.herokuapp.com"><img border="0" height="20" src="http://img.webscan.360.cn/status/pai/hash/38b6375af1dcf63ba0757bb624f94d11"/></a>
    </p>
  </footer>
</div>
