<h2>Dear,<%= @recipient %></h2>
<p>
  You are having one email message from <%= @sender %> with a tilte
</p>
<p>
  <%= @subject %>
</p>
<p>
  and following is the message:
</p>
<p>
  <%= @body %>
</p>
<p>
  Thanks
</p>
